.hidden-scrollbar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
   background-color: #000000fa;
   color: white;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
  box-shadow: inset 0 0 6px rgba(248, 6, 6, 0.3);
}

.hidden-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background-color: #fc0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply other global styles */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Example font-family */
  background-color: #000000; /* Example background color */
  overflow-x: hidden;
  color:white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}